@model UpcomingEvent

<div class="container-fluid px-4">
    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-table me-1"></i>
            Create an event
        </div>
        <div class="card-body">
            <form asp-area="Admin" asp-controller="Home" asp-action="CreateUpcomingEvent" method="post" enctype="multipart/form-data">
                <div class="form-floating mb-3">
                    <input class="form-control" id="inputName" asp-for="Name" placeholder="Lorem ipsum" />
                    <label for="inputName">Name</label>
                    <span asp-validation-for="Name"></span>
                </div>
                <div class="form-floating mb-3">
                    <input class="form-control" id="inputCategory" asp-for="Category" placeholder="Lorem ipsum dolor sit amet" />
                    <label for="inputCategory">Category</label>
                    <span asp-validation-for="Category"></span>
                </div>
                <div class="form-floating mb-3">
                    <input class="form-control" id="inputDate" asp-for="Date" />
                    <label for="inputDate">Date</label>
                    <span asp-validation-for="Date"></span>
                </div>
                <div class="form-floating mb-3">
                    <input class="form-control" id="inputPrice" asp-for="Price" placeholder="999999.52" />
                    <label for="inputPrice">Qiymet</label>
                    <span asp-validation-for="Price"></span>
                </div>
                <div class="form-floating mb-3">
                    <input class="form-control" id="inputDuration" asp-for="Duration" placeholder="0, 2, 5, 7..." />
                    <label for="inputDuration">Duration (in hours)</label>
                    <span asp-validation-for="Duration"></span>
                </div>
                <div class="form-floating mb-3">
                    <input class="form-control" id="inputImage" type="file" name="Image" />
                    <label for="inputImage">Image</label>
                </div>
                <button type="submit">Add</button>
                <div asp-validation-summary="All">
                </div>
            </form>
        </div>
    </div>
</div>
